@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --blue: #26408B;
    --light-blue: #A6CFD5;
    --black: #000000;
    --white: #FFFFFF;
    --green: #496F5D;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
    background-color: var(--light-blue);
}

.menu {
    display: flex;
    justify-content: center;
    color: var(--white);
    flex-wrap: wrap;
    width: auto;
    background-color: var(--green);
    padding: 1em;
    gap: 1em;
    border-radius: 10px;
    margin-top: 1em;
}

.menu-item {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--light-blue);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.menu-item:hover {
    background-color: var(--light-blue);
    color: black;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 1em;
}

.form-high {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 1em;
}

.main-form {
    background-color: var(--blue);
    color: var(--white);
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    gap: 1.1em;
    border-radius: 7px;
    -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
}

.main-form input {
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    width: 95%;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    text-align: center;
}

.form-logo {
    width: 100px;
    height: auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn {
    background-color: var(--light-blue);
    color: var(--black);
    border-radius: 7px;
    outline: none;
    border: none;
    padding: 7px;
    width: 50%;
    transition: 0.4s;
}

.login-btn:hover {
    background-color: var(--white);
    transition: 0.4s;
    cursor: pointer;
}